services:
  # The following defines application containers, which depend on the data-only
  # containers defined above to provide their software layers
  # These should be run with `docker-compose run --rm <application-service>`
  base:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}
      args:
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  hip:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-hip
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-hip
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  hip-sdk:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-hip-sdk
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-hip-sdk
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  ml:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-ml
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-ml
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
        GFX_ARCH: ${GFX_ARCH:-gfx1030}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  ml-sdk:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-ml-sdk
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-ml-sdk
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  opencl:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-opencl
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-opencl
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  opencl-sdk:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-opencl-sdk
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-opencl-sdk
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  openmp-sdk:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-openmp-sdk
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-openmp-sdk
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  complete:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-complete
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-complete
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  complete-sdk:
    image: rocm/dev-${OS_VARIANT:-ubuntu-24.04}:${ROCM_VERSION:-latest}-complete-sdk
    build:
      context: ./dev
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-complete-sdk
      args:
        OS_VARIANT: ${OS_VARIANT:-ubuntu-24.04}
        ROCM_VERSION: ${ROCM_VERSION}
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp

  term:
    image: rocm/rocm-terminal:${ROCM_VERSION:-latest}-${OS_VARIANT:-ubuntu-24.04}
    build:
      context: ./rocm-terminal
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}
      args:
        ROCM_VERSION: ${ROCM_VERSION}
        TERM_FLAVOR: ${TERM_FLAVOR:-complete-sdk}
        UID: ${UID}
        RENDER_GID: ${RENDER_GID}
    environment:
      - HSA_OVERRIDE_GFX_VERSION=${GFX_VERSION}
      - GFX_ARCH=${GFX_ARCH}
      - MIOPEN_FIND_MODE=fast
#   ipc: host
    devices:
      - /dev/kfd
      - /dev/dri
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
#   tmpfs:
#     - /tmp
    volumes:
      - /dev/shm:/dev/shm
      - /tmp:/tmp
      - ./home:/home/${USER_NAME:-rocm-user}
      - ~/src:/home/${USER_NAME:-rocm-user}/src

  xterm:
    image: rocm/rocm-terminal:${ROCM_VERSION:-latest}-${OS_VARIANT:-ubuntu-24.04}-x11
    build:
      context: ./rocm-terminal
      dockerfile: Dockerfile-${OS_VARIANT:-ubuntu-24.04}-x11
      args:
        ROCM_VERSION: ${ROCM_VERSION}
        TERM_FLAVOR: ${XTERM_FLAVOR:-complete}
        UID: ${UID}
        RENDER_GID: ${RENDER_GID}
    environment:
      - HSA_OVERRIDE_GFX_VERSION=${GFX_VERSION}
      - GFX_ARCH=${GFX_ARCH}
      - DISPLAY
      - PULSE_SERVER=unix:/tmp/pulse/native
      - PULSE_COOKIE=/tmp/pulse/cookie
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
#   ipc: host
    devices:
      - /dev/kfd
      - /dev/dri
#     - /dev/shm
      - /dev/fuse
#   tmpfs:
#     - /tmp
    volumes:
      - /dev/shm:/dev/shm
      - /tmp:/tmp
#     - /tmp/.X11-unix:/tmp/.X11-unix
      - /run/user/${UID:-1000}/pulse/native:/tmp/pulse/native
      - ~/.config/pulse/cookie:/tmp/pulse/cookie:ro
      - ./home:/home/${USER_NAME:-rocm-user}
      - ~/src:/home/${USER_NAME:-rocm-user}/src

